
 <div class="card boundry">
    <div class="card-body"> 

        <p>this should show regardless</p>
        @if (funscript != null){

            <div class="mb-3">
                <strong>File Name:</strong>
                @funscript.title
            </div>
            
           
                <div>
                    <strong>Funscript length:</strong>
                    @funscript.duration
                </div>
                <div>
                    <strong>Funscript Actions:</strong>
                    @funscript.number_of_actions.ToString()
                </div>
                <div>
                    <strong>Average Speed:</strong>
                    @funscript.GetAverageSpeed().ToString()
                </div>
        }
        
    </div>
</div> 

@code {
    [Parameter]

    public Funscript? funscript { get; set; }
}
