<h3>Offset</h3>

<p>Add a fixed time offset to all actions in a script to ensure proper synchronization</p>


<InputNumber id="numericInput" @bind-Value="numericValue" class="form-control" title="Time offset in milliseconds to add to all actions (positive = delay, negative = advance)" />

<button class="btn btn-primary mb-2 button1" @onclick="() => offset(numericValue)">Apply Offset</button>
<button class="btn btn-primary mb-2 button1" @onclick="reset_script">Reset Offset</button>




@code {

    [Parameter]
    public bool GrandChildData { get; set; }

    [Parameter]
    public EventCallback<bool> GrandChildDataChanged { get; set; }


    public int numericValue { get; set; }



    Funscript? funscript;

    public bool render_modified_canvas { get; set; }

    private void offset(int value)
    {


        funscript = funscript_manager.modified_funscript;
        funscript = funscript_converter_offset.GetOffsetScript(funscript, value);
        funscript_manager.modified_funscript = funscript;
        funscript_manager.User_Applied_modifier = true;
        GrandChildData = true;
        GrandChildDataChanged.InvokeAsync(GrandChildData);
        @* StateHasChanged(); *@



    }

    private void reset_script()
    {

        funscript_manager.modified_funscript = funscript_manager.starting_funscript;
        funscript_manager.Reset_trigger_canvas_rerender = !funscript_manager.Reset_trigger_canvas_rerender;

    }



}
