<section class="timeline">
    @if (Times != null && Times.Count > 0)
    {
        @foreach (int time in Times)
        {

            int milliseconds = time;
            TimeSpan timeSpan = TimeSpan.FromMilliseconds(milliseconds);
            string formattedTime = $"{(int)timeSpan.TotalMinutes}:{timeSpan.Seconds:D2}";
            <span class="dot text" data-text="@formattedTime"></span>
        }

        

    }







</section>


@code {
    [Parameter]
    public int Width { get; set; } = 500; // Default width

    [Parameter]
    public int Height { get; set; } = 2; // Default height





    [Parameter]
    public List<int> Times { get; set; }




    public void Update(List<int> freshTimes)
    {
        Times = freshTimes;
        StateHasChanged();
    }




}
