.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0px 0px;
    border-top: 1px solid #606262;
    overflow: visible;
    max-width: 1500px;
    width: 100%;
}

.timeline .dot {
    display: inline-block;
    width: 0px;
    height: 5px;
    border-left: 3px solid #606262;


}

.timeline .dot.blue,
.timeline .dot.text {
    height: 20px;
    position: relative;
    /* transition: 0.5s height ease; */
}


.timeline .dot:after {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    bottom: -20px;
    background: red;
    border-radius: 50% 50% 0 50%;
    /* transform: rotate(-135deg); */
    width: 0px;
    height: 0px;
    transition: 0.5s all ease;
}

.timeline .dot.blue:after {
    width: 30px;
    height: 30px;
}


.timeline .dot.blue:after {
    background: blue;
}

.timeline .dot.text:after {
    display: inline-block;
    /* Adjust display property */
    width: auto;
    height: auto;
    padding: 5px 10px;
    /* Adjust padding as needed */
    background-color: transparent;
    /* Change color as needed */
    color: white;
    /* Text color */
    font-size: 12px;
    /* Adjust font size as needed */
    border-radius: 5px;
    /* Adjust border radius as needed */
    text-align: right;
    /* Center text */
    content: attr(data-text);
    /* Set content to value of data-text attribute */

}